@media (min-width: 768px) {
  body {
    background-color: lightgreen;

  }
}

@media (min-width: 1024px) {
  body {
    background-color: blue;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.nav-logo {
  background-color: gray;
}

.nav-icons li {
  list-style: none;
  display: inline-block;
}

.tech-fest-cta {
  background-color: yellow;
  line-height: 60px;
  white-space: nowrap;
}

.top-articles article {
  background-color: chocolate;
  border: crimson solid 1px;
  height: 33.3vh;
  margin: 10px 5px;
}

.latest-news div {
  background-color: darkgreen;
}

.latest-funding div {
  background-color: darkkhaki;
}
